{% extends 'cases/base.html' %}
{% block title %}{{ cases }}{% endblock %}
{% block cases_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                  <img src="../../static/cases/images/d.jpg" class="img-responsive">  
                </div>
            </div>
        </div>

        <!-- Right Case Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="active"><a href="{% url 'cases:index' %}">All cases</a></li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>Case details</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>description</th>
                            <th>Date_Added</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ case.case_typ }}</td>
                                <td>{{case.description}}</td>
                                <td>{{case.date_added}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}